<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcg2H-OrRUf0rlUVBd868covMez5WbjJs</string>
	<key>GCM_SENDER_ID</key>
	<string>1084849066321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speak2note.ios</string>
	<key>PROJECT_ID</key>
	<string>speak2note-4fe48</string>
	<key>STORAGE_BUCKET</key>
	<string>speak2note-4fe48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084849066321:ios:3566863e95d3c423360370</string>
</dict>
</plist>